.favourites__main {
  min-height: 55vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .favourites__main__box {
    text-align: center;
    .favourites__main__box__title {
      font-size: 24px;
    
    }
    .favourites__main__box__desc {
  
      font-size: 16px;
    }
    .favourites__main__box__icon {
      font-size: 80px;
    }
    .favourites__main__box__button {
      width: 200px;
      height: 35px;
      margin-top: 10px;
      cursor: pointer;
      background-color: transparent;
      border: 2px solid #fff;
     
      font-size: 18px;
      border-radius: 7px;
    }
  }
}

@media all and (max-width: 600px) {
  .favourites__main {
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .favourites__main__box {
      text-align: center;
      .favourites__main__box__title {
        font-size: 22px;
        
      }
      .favourites__main__box__desc {
        
        font-size: 16px;
      }
      .favourites__main__box__icon {
        font-size: 50px;
      }
      .favourites__main__box__button {
        width: 160px;
        height: 30px;
        margin-top: 10px;
        cursor: pointer;
        background-color: transparent;
        border: 2px solid #fff;
        
        font-size: 16px;
        border-radius: 7px;
      }
    }
  }
  .category {
    font-size: 18px;
    margin-bottom: 0;
  }
}
