.store-aside {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 50px 0;
  gap: 20px;
  div {
    text-align: center;
  }
  img {
    width: 70px;
    height: 70px;
  }
  h3 {
    font-size: 25px;
 
    padding: 15px 0;
  }
  p {
    font-size: 17px;
    color: #a9a8a8;
    font-weight: 600;
  }
}
.store-label {
  text-align: center;
  color: #44d62c;
  font-size: 40px;
  margin-top: 100px;
}
@media all and (max-width: 1281px) {
  .store-aside {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 50px 40px;
    gap: 20px;
  }
}

@media all and (max-width: 935px) {
  .store-aside {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 70px 60px;
    gap: 20px;
  }
  .store-label {
    text-align: center;
    color: #44d62c;
 
    font-size: 30px;
  }
}

@media all and (max-width: 555px) {
  .store-aside {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 70px 60px;
    gap: 20px;
  }
  .store-label {
    text-align: center;
    color: #44d62c;
 
    font-size: 25px;
  }
}
