// @font-face {
//   font-family: "Razer F5";
//   src: url(./fonts/razer_f5.woff2);
// }

// @font-face {
//   font-family: "Razer F5 Regular";
//   src: url(./fonts/razer_f5_regular.woff2);
// }

// @font-face {
//   font-family: "Razer F5 Medium";
//   src: url(./fonts/razer_f5_medium.woff2);
// }

// @font-face {
//   font-family: "Razer F5 Bold";
//   src: url(./fonts/razer_f5_bold.woff2);
// }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Razer F5";
  color: white;
  text-decoration: none;
}

body {
  background: black;
}

.storeFix .fixedBtn {
  background: #44d62c;
  border-radius: 10%;
  border: #222222 2px solid;
  bottom: 20px;
  height: 45px;
  position: fixed;
  right: 25px;
  width: 45px;
  cursor: pointer;
}
.fixedBtn:active {
  background: #222222;
  border: #44d62c 1px solid;
}
.fixedBtn {
  display: none;
}

.btn-show {
  display: block;
  transition: all 3s ease-in-out;
}

::selection {
  color: #000;
  background: #44d62c;
}

.password-admin {
  width: 100%;
  height: 100vh;
  background: #252525;
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 0;
  margin: 0 20px;
  align-items: center;
  background: #111;
  width: 500px;
  height: 250px;
  border-radius: 32px;
  border: 2px solid #44d62c;
}
.admin-box input {
  background: #252525;
  width: 200px;
  height: 30px;
  border: 1px solid #44d62c;
  border-radius: 3px;
  padding-left: 70px;
  outline: none;
}
.admin-box img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}
#incorrect {
  color: red;
}
#correct {
  color: #44d62c;
}
.admin-box button {
  background: #44d62c;
  color: #252525;
  font-size: 16px;
  width: 100px;
  height: 40px;
  border-radius: 4px;
  font-weight: bold;
}
.admin-box button:active {
  background: #252525;
  color: #44d62c;
  font-size: 16px;
  width: 100px;
  height: 40px;
  border-radius: 4px;
  font-weight: bold;
}

@media all and (max-width: 600px) {
  .storeFix .fixedBtn {
    width: 35px;
    height: 35px;
    bottom: 10px;
    right: 10px;
  }
}

.EZDrawer{
  display: none;
}
